name: 'Build and Test'

on:
  - push
  - pull_request

jobs:
  test:
    name: Build and Test

    runs-on: ubuntu-24.04
    steps:
      - name: 'Checkout repository'
        uses: actions/checkout@v6
        with:
          persist-credentials: false

      - uses: oven-sh/setup-bun@v2

      - name: Install dependencies
        run: bun install

      - name: Run typecheck
        run: |
          bun typecheck

      - name: Run check
        run: |
          bun run biome ci
